Repository LifePoop/LifePoop_iOS, pull requests merged in 2023-05, with the labels that each got.

#15 HomeFeature 메인화면 구현
  Projects/DesignSystem/Sources/Enum/Padding.swift
  Projects/Features/FeatureHome/FeatureHomeDIContainer/Project.swift
  Projects/Features/FeatureHome/FeatureHomeDIContainer/Sources/HomeDIContainer.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Project.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/CheeringButtonView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/CircularImageView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/Coordinator/DefaultHomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/Coordinator/Interface/HomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/Coordinator/Interface/HomeCoordinatorAction.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendEntity.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListCollectionViewCell.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListCollectionViewDiffableDataSource.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListSection.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewController.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewModel.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/LogButton.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/PaddingButton.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/PaddingLabel.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/ProfileImageView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/SeparatorView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/ShadowView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionViewCell.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionViewCompositionalLayout.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionViewDiffableDataSource.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogEntity.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogHeaderView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogListSection.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/UICollectionViewFlowLayout+layoutHeight.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/ViewCell+identifier.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Tests/FeatureHomePresentationTests.swift
  Projects/Features/FeatureHome/FeatureHomeRepository/Project.swift
  Projects/Features/FeatureHome/FeatureHomeRepository/Sources/DefaultHomeRepository.swift
  Projects/Features/FeatureHome/FeatureHomeRepository/Tests/FeatureHomeRepositoryTests.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Project.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Sources/DefaultHomeUseCase.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Sources/Interface/HomeUseCase.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Sources/RepositoryInterface/HomeRepository.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Tests/FeatureHomeUseCaseTests.swift
  Tuist/ProjectDescriptionHelpers/Modules.swift
Labels: 💡feat, Mase

#16 DesignSystem 모듈 폴더링, Resource 파일 관련 설정
  Projects/DesignSystem/Resources/Color.xcassets/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/Poo_Black.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/Poo_Brown.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/Poo_Pink.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/Poo_green.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/Poo_yellow.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/black.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/disabled blue.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/gray200.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/gray300.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/gray600.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/gray800.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/primary.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/secondary.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/white.colorset/Contents.json
  Projects/DesignSystem/Resources/DesignSystemResource.swift
  Projects/DesignSystem/Resources/Font/ChakraPetch-Bold.ttf
  Projects/DesignSystem/Resources/Font/Pretendard-Bold.ttf
  Projects/DesignSystem/Resources/Font/Pretendard-Medium.ttf
  Projects/DesignSystem/Resources/Font/Pretendard-Regular.ttf
  Projects/DesignSystem/Resources/Image.xcassets/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/EmptyStool.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/EmptyStool.imageset/EmptyStool 1.png
  Projects/DesignSystem/Resources/Image.xcassets/EmptyStool.imageset/EmptyStool.png
  Projects/DesignSystem/Resources/Image.xcassets/ExpandLeft.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/ExpandLeft.imageset/ExpandLeft 1.png
  Projects/DesignSystem/Resources/Image.xcassets/ExpandLeft.imageset/ExpandLeft.png
  Projects/DesignSystem/Resources/Image.xcassets/LifePoopLogo.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/LifePoopLogo.imageset/LifePoopLogo.png
  Projects/DesignSystem/Resources/Image.xcassets/ProfileActivated.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/ProfileActivated.imageset/ProfileActivated.png
  Projects/DesignSystem/Resources/Image.xcassets/ProfileInactivated.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/ProfileInactivated.imageset/ProfileInactivated.png
  Projects/DesignSystem/Resources/Image.xcassets/ReportButton.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/ReportButton.imageset/ReportButton.png
  Projects/DesignSystem/Resources/Image.xcassets/StoolLogBackgroundTile.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/StoolLogBackgroundTile.imageset/StoolLogBackgroundTile 1.png
  Projects/DesignSystem/Resources/Image.xcassets/StoolLogBackgroundTile.imageset/StoolLogBackgroundTile.png
  Projects/DesignSystem/Resources/Image.xcassets/TwoFriends.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/TwoFriends.imageset/TwoFriends 1.png
  Projects/DesignSystem/Resources/Image.xcassets/TwoFriends.imageset/TwoFriends.png
  Projects/DesignSystem/Sources/Component/BottomSheet/BottomSheet.swift
  Projects/DesignSystem/Sources/Component/BottomSheet/BottomSheetController.swift
  Projects/DesignSystem/Sources/Component/UIButton/LogButton.swift
  Projects/DesignSystem/Sources/Component/UIButton/PaddingButton.swift
  Projects/DesignSystem/Sources/Component/UIImageView/CircularImageView.swift
  Projects/DesignSystem/Sources/Component/UIImageView/ProfileImageView.swift
  Projects/DesignSystem/Sources/Component/UILabel/PaddingLabel.swift
  Projects/DesignSystem/Sources/Component/UILabel/RoundedPaddingLabel.swift
  Projects/DesignSystem/Sources/Component/UILabel/ToastLabel.swift
  Projects/DesignSystem/Sources/Component/UIView/CheeringButtonView.swift
  Projects/DesignSystem/Sources/Component/UIView/SeparatorView.swift
  Projects/DesignSystem/Sources/Component/UIView/ShadowView.swift
  Projects/DesignSystem/Sources/Extension/UICollectionViewFlowLayout+layoutHeight.swift
  Projects/DesignSystem/Sources/Extension/UIView+roundCorners.swift
  Projects/DesignSystem/Sources/Extension/ViewCell+identifier.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListCollectionViewCell.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewController.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionViewCell.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogHeaderView.swift
Labels: 💡feat, Mase

#23 Dummy 객체로 Home 화면 UI 완성 및 코드 폴더링, 기본적인 바인딩 흐름 구현
  Projects/Core/CoreEntity/Sources/FriendEntity.swift
  Projects/Core/CoreEntity/Sources/StoolLogEntity.swift
  Projects/DesignSystem/Sources/Component/UIButton/LifePoopButton.swift
  Projects/DesignSystem/Sources/Component/UIButton/LogButton.swift
  Projects/DesignSystem/Sources/Protocol/CollectionViewSectionProvidable.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendEntity.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListCollectionView/FriendListCollectionViewCell.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListCollectionView/FriendListCollectionViewDiffableDataSource.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListCollectionView/FriendListCollectionViewSectionLayout.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/FriendListCollectionView/FriendListSection.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewController.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewModel.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogCollectionViewCell.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogCollectionViewDiffableDataSource.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogCollectionViewSectionLayout.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogHeaderView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogListSection.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogEntity.swift
  Projects/Features/FeatureHome/FeatureHomeRepository/Sources/DefaultHomeRepository.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Sources/DefaultHomeUseCase.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Sources/Interface/HomeUseCase.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Sources/RepositoryInterface/HomeRepository.swift
  Projects/Utils/Sources/Enum/ToastMessage.swift
Labels: 💡feat, ✂️refactor, Mase

#27 FeatureStoolLogPresentation 의존성 추가 누락된 부분 보충
  Projects/Features/FeatureHome/FeatureHomePresentation/Project.swift
Labels: Jed, ⚙️chore

#30 누락되거나 잘못 설정된 모듈간 의존성 수정, RxCocoaRuntime 모듈 에러 수정
  .package.resolved
  Projects/Core/CoreDIContainer/Project.swift
  Projects/Core/CoreEntity/Project.swift
  Projects/Core/CoreNetworkService/Project.swift
  Projects/Core/CoreStorageService/Project.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Project.swift
  Projects/Features/FeatureHome/FeatureHomeRepository/Project.swift
  Projects/Features/FeatureHome/FeatureHomeUseCase/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginRepository/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogRepository/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogUseCase/Project.swift
  Projects/Logger/Project.swift
  Projects/Shared/SharedRepository/Project.swift
  Projects/Shared/SharedUseCase/Project.swift
  Projects/Utils/Project.swift
  Tuist/Dependencies.swift
  Tuist/ProjectDescriptionHelpers/Package+SPM.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+SPM.swift
Labels: 🛠fix, Mase, ⚙️chore

#28 변 기록하기 화면 내 크기 선택 활성화 이미지 적용
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_deselected.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_deselected.imageset/size_select_large_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_deselected.imageset/size_select_large_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_deselected.imageset/size_select_large_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_selected.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_selected.imageset/size_select_large_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_selected.imageset/size_select_large_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_large_selected.imageset/size_select_large_selected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_deselected.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_deselected.imageset/size_select_medium_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_deselected.imageset/size_select_medium_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_deselected.imageset/size_select_medium_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_selected.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_selected.imageset/size_select_medium_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_selected.imageset/size_select_medium_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_medium_selected.imageset/size_select_medium_selected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_deselected.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_deselected.imageset/size_select_small_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_deselected.imageset/size_select_small_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_deselected.imageset/size_select_small_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_selected.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_selected.imageset/size_select_small_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_selected.imageset/size_select_small_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/size_select_small_selected.imageset/size_select_small_selected@3x.png
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewController.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/DetailSelection/SizeSelectionCell.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewController.swift
Labels: 💡feat, ✂️refactor, Jed

#32 FeaturePresentaion 모듈에서 Coordinator 관련 코드를 별도의 Coordinator 모듈로 분리
  Projects/App/Sources/AppCoordinator/DefaultAppCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinator/Project.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinator/Sources/DefaultHomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Project.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Sources/HomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Sources/HomeCoordinatorAction.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Project.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinator/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinator/Sources/DefaultLoginCoordinator.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinateAction.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinator.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinatorCompletionDelegate.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginViewModel.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinator/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinator/Sources/DefaultStoolLogCoordinator.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinatorInterface/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinatorInterface/Sources/StoolLogCoordinator.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinatorInterface/Sources/StoolLogCoordinatorAction.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewModel.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionSelect/SatisfactionSelectViewModel.swift
  Tuist/ProjectDescriptionHelpers/Modules.swift
Labels: ✂️refactor, Mase

#33 로그인 화면 구현
  Projects/App/Sources/AppCoordinator/DefaultAppCoordinator.swift
  Projects/DesignSystem/Resources/Color.xcassets/kakao_brown.colorset/Contents.json
  Projects/DesignSystem/Resources/Color.xcassets/kakao_yellow.colorset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/character_large.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/character_large.imageset/character_large.png
  Projects/DesignSystem/Resources/Image.xcassets/character_large.imageset/character_large@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/character_large.imageset/character_large@3x.png
  Projects/DesignSystem/Sources/Component/UIButton/LoginButton.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinator/Sources/DefaultLoginCoordinator.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinateAction.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginViewModel.swift
Labels: 💡feat, Jed, ⚡️review_needed

#36 닉네임 편집을 위한 ConditionalTextField 구현
  Projects/DesignSystem/Sources/Component/ConditionalTextField/ConditionalTextField.swift
  Projects/Utils/Sources/Extension/RxSwift/Rx+ConditionalTextField.swift
Labels: 💡feat, Jed, ⚡️review_needed

#37 로그인 화면에 온보딩 화면 적용
  Projects/Core/CoreEntity/Sources/SelectableConfirmationCondition.swift
  Projects/DesignSystem/Sources/Component/ConditionalTextField/ConditionalTextField.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinator/Sources/DefaultLoginCoordinator.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinateAction.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LaunchScreen/LaunchScreenViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LaunchScreen/LaunchScreenViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/BannerImageCell/BannerImageCell.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/LoginViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/LoginViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/NicknameScene/ConditionSelectionCell/ConditionSelectionCell.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/NicknameScene/NicknameViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/NicknameScene/NicknameViewModel.swift
  Projects/Utils/Sources/Extension/RxSwift/Rx+ConditionalTextField.swift
Labels: 💡feat, Jed
