Repository LifePoop/LifePoop_iOS, pull requests merged in 2023-06, with the labels that each got.

#49 Tuist Manifests 파일 수정하여 Code Signing 자동 할당되도록 설정
  .gitignore
  Projects/App/App.entitlements
  Projects/App/Attributes/Info.plist
  Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: 📜docs, ⚙️chore

#44 카카오, 애플 로그인 구현
  Projects/App/Attributes/Info.plist
  Projects/App/Sources/SceneDelegate.swift
  Projects/Core/CoreAuthentication/Project.swift
  Projects/Core/CoreAuthentication/Sources/AuthenticationError.swift
  Projects/Core/CoreAuthentication/Sources/Extensions/ASAuthorizationController+targetWindow.swift
  Projects/Core/CoreAuthentication/Sources/Extensions/Rx+ASAuthorizationAppleIDProvider.swift
  Projects/Core/CoreAuthentication/Sources/Managers/ASAuthorizationControllerProxy.swift
  Projects/Core/CoreAuthentication/Sources/Managers/AppleAuthManager.swift
  Projects/Core/CoreAuthentication/Sources/Managers/AuthManagable.swift
  Projects/Core/CoreAuthentication/Sources/Managers/KakaoAuthManager.swift
  Projects/Core/CoreEntity/Sources/AuthResultEntity/AppleAuthResultEntity.swift
  Projects/Core/CoreEntity/Sources/AuthResultEntity/AuthResultPossessable.swift
  Projects/Core/CoreEntity/Sources/AuthResultEntity/KakaoAuthResultEntity.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/LoginViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/LoginViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginRepository/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginRepository/Sources/DefaultLoginRepository.swift
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Sources/DefaultLoginUseCase.swift
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Sources/Interface/LoginUseCase.swift
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Sources/RepositoryInterface/LoginRepository.swift
  Projects/Logger/Sources/OSLog+LogCategory.swift
  Projects/Utils/Sources/Constant/Constant.swift
  Tuist/Dependencies.swift
  Tuist/ProjectDescriptionHelpers/Modules.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+Project.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+SPM.swift
  graph.png
Labels: 💡feat, Jed, ⚡️review_needed

#50 BottomSheet(팝업) 개선
  Projects/DesignSystem/Sources/Component/BottomSheet/BottomSheet.swift
  Projects/DesignSystem/Sources/Component/BottomSheet/BottomSheetController.swift
  Projects/DesignSystem/Sources/Component/BottomSheet/BottomSheetDelegate.swift
  Projects/DesignSystem/Sources/Component/BottomSheet/TransparentBackgroundViewController.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinator/Sources/DefaultHomeCoordinator.swift
  Projects/Features/FeatureSetting/FeatureSettingCoordinator/Sources/DefaultSettingCoordinator.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinator/Sources/DefaultStoolLogCoordinator.swift
Labels: ✂️refactor, Jed

#56 Stiffness 네이밍을 Shape로 변경
  Projects/Core/CoreEntity/Sources/ProfileCharater.swift
  Projects/Core/CoreEntity/Sources/StoolColor.swift
  Projects/Core/CoreEntity/Sources/StoolLogEntity.swift
  Projects/Core/CoreEntity/Sources/StoolShape.swift
  Projects/Core/CoreEntity/Sources/StoolSize.swift
  Projects/EntityUIMapper/Sources/ProfileCharacter+image.swift
  Projects/EntityUIMapper/Sources/StoolColor+image.swift
  Projects/EntityUIMapper/Sources/StoolShape+image.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/Profile/ProfileEditViewModel.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/Profile/ProfileViewModel.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/DetailSelection/ColorSelectionCell.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/DetailSelection/ShapeSelectionCell.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/DetailSelection/SizeSelectionCell.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewController.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewModel.swift
  Projects/Shared/SharedUseCase/Sources/DefaultProfileCharacterUseCase.swift
  Projects/Shared/SharedUseCase/Sources/Interface/ProfileCharacterUseCase.swift
Labels: ✂️refactor, Mase

#57 로그인 화면 디자인 수정, 닉네임 화면 미구현된 기능 마저 구현
  Projects/Core/CoreEntity/Sources/NicknameInput.swift
  Projects/Core/CoreEntity/Sources/SelectableConfirmationCondition.swift
  Projects/DesignSystem/Resources/Image.xcassets/banner_first.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/banner_first.imageset/banner_first.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_first.imageset/banner_first@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_first.imageset/banner_first@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_second.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/banner_second.imageset/banner_second.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_second.imageset/banner_second@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_second.imageset/banner_second@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_third.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/banner_third.imageset/banner_third.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_third.imageset/banner_third@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/banner_third.imageset/banner_third@3x.png
  Projects/Features/FeatureLogin/FeatureLoginCoordinator/Sources/DefaultLoginCoordinator.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinateAction.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/BannerImageCell/BannerImageCell.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/LoginViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LoginScene/LoginViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/NicknameScene/ConditionSelectionCell/ConditionSelectionCell.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/NicknameScene/NicknameViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/NicknameScene/NicknameViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Sources/DefaultLoginUseCase.swift
  Projects/Shared/SharedUseCase/Sources/DefaultNicknameUseCase.swift
  Projects/Shared/SharedUseCase/Sources/Interface/NicknameUseCase.swift
Labels: 💡feat, Jed

#62 친구 목록 및 초대하기 화면 구현
  Projects/App/Sources/SceneDelegate.swift
  Projects/Core/CoreEntity/Sources/FriendEntity.swift
  Projects/Core/CoreEntity/Sources/ProfileCharater.swift
  Projects/DesignSystem/Resources/Image.xcassets/friends_empty_status.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/friends_empty_status.imageset/friends_empty_status.png
  Projects/DesignSystem/Resources/Image.xcassets/friends_empty_status.imageset/friends_empty_status@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/friends_empty_status.imageset/friends_empty_status@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/invitation_clip.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/invitation_clip.imageset/invitation_clip.png
  Projects/DesignSystem/Resources/Image.xcassets/invitation_clip.imageset/invitation_clip@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/invitation_clip.imageset/invitation_clip@3x.png
  Projects/DesignSystem/Sources/Component/BottomSheet/BottomSheet.swift
  Projects/Features/FeatureFriendList/FeatureFriendListCoordinator/Project.swift
  Projects/Features/FeatureFriendList/FeatureFriendListCoordinator/Sources/DefaultFriendListCoordinator.swift
  Projects/Features/FeatureFriendList/FeatureFriendListCoordinatorInterface/Project.swift
  Projects/Features/FeatureFriendList/FeatureFriendListCoordinatorInterface/Sources/FriendListCoordinateAction.swift
  Projects/Features/FeatureFriendList/FeatureFriendListCoordinatorInterface/Sources/FriendListCoordinator.swift
  Projects/Features/FeatureFriendList/FeatureFriendListDIContainer/Project.swift
  Projects/Features/FeatureFriendList/FeatureFriendListDIContainer/Sources/FriendListDIContainer.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Project.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendInvitationViewController/FriendInvitatinoViewController.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendInvitationViewController/FriendInvitationViewModel.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendInvitationViewController/InvitationCollectoinViewCell/InvitationCollectionViewCell.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendInvitationViewController/Models/InvitationType.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendListViewController/FriendListCollectionView/FriendListCollectionViewCell.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendListViewController/FriendListViewController.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendListViewController/FriendListViewModel.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendListViewController/SubViews/EmptyFriendListView.swift
  Projects/Features/FeatureFriendList/FeatureFriendListRepository/Project.swift
  Projects/Features/FeatureFriendList/FeatureFriendListRepository/Sources/DefaultFriendListRepository.swift
  Projects/Features/FeatureFriendList/FeatureFriendListUseCase/Project.swift
  Projects/Features/FeatureFriendList/FeatureFriendListUseCase/Sources/DefaultFriendListUseCase.swift
  Projects/Features/FeatureFriendList/FeatureFriendListUseCase/Sources/Interface/FriendListUseCase.swift
  Projects/Features/FeatureFriendList/FeatureFriendListUseCase/Sources/RepositoryInterface/FriendListRepository.swift
  Projects/Features/FeatureFriendList/FeatureFriendListUseCase/Tests/FeatureHomeUseCaseTests.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LaunchScreen/LaunchScreenViewController.swift
  Projects/Utils/Sources/Coordinator/CoordinatorType.swift
  Tuist/ProjectDescriptionHelpers/Modules.swift
Labels: 💡feat, Jed

#65 온보딩 화면에 gif 적용
  .package.resolved
  Projects/App/Resources/onboarding.json
  Projects/App/Sources/AppCoordinator/DefaultAppCoordinator.swift
  Projects/App/Sources/AppCoordinator/Interface/AppCoordinatorAction.swift
  Projects/App/Sources/SceneDelegate.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinator/Sources/DefaultHomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Sources/HomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Sources/HomeCoordinatorAction.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinator/Sources/DefaultLoginCoordinator.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinateAction.swift
  Projects/Features/FeatureLogin/FeatureLoginCoordinatorInterface/Sources/LoginCoordinatorCompletionDelegate.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LaunchScreen/LaunchScreenViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/LaunchScreen/LaunchScreenViewModel.swift
  Tuist/ProjectDescriptionHelpers/Package+SPM.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+SPM.swift
Labels: 💡feat, Jed

#68 SignUp 화면, NicknameUseCase 로직 및 NicknameInput Entity 코드 개선
  Projects/Core/CoreEntity/Sources/BirthdayTextInput.swift
  Projects/Core/CoreEntity/Sources/GenderType.swift
  Projects/Core/CoreEntity/Sources/NicknameTextInput.swift
  Projects/DesignSystem/Sources/Component/ConditionalTextField/ConditionalTextField.swift
  Projects/EntityUIMapper/Sources/BirthdayTextInput+descriptionText.swift
  Projects/EntityUIMapper/Sources/NicknameInput+descriptionText.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Project.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/SignupScene/SignupViewController.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/SignupScene/SignupViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Sources/DefaultSignupUseCase.swift
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Sources/Interface/SignupUseCase.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Project.swift
  Projects/Shared/SharedUseCase/Sources/DefaultNicknameUseCase.swift
  Projects/Shared/SharedUseCase/Sources/Interface/NicknameUseCase.swift
Labels: ✂️refactor, Mase

#64 프로필 정보 수정 화면의 닉네임, 캐릭터 수정 로직 구현
  Projects/App/Sources/SceneDelegate.swift
  Projects/DesignSystem/Resources/Image.xcassets/color_black_deselected.imageset/color_black_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_black_deselected.imageset/color_black_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_black_deselected.imageset/color_black_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_black_selected.imageset/color_black_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_black_selected.imageset/color_black_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_black_selected.imageset/color_black_selected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_brown_deselected.imageset/color_brown_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_brown_deselected.imageset/color_brown_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_brown_deselected.imageset/color_brown_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_brown_selected.imageset/color_brown_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_brown_selected.imageset/color_brown_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_brown_selected.imageset/color_brown_selected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_green_deselected.imageset/color_green_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_green_deselected.imageset/color_green_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_green_deselected.imageset/color_green_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_green_selected.imageset/color_green_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_green_selected.imageset/color_green_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_green_selected.imageset/color_green_selected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_pink_deselected.imageset/color_pink_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_pink_deselected.imageset/color_pink_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_pink_deselected.imageset/color_pink_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_pink_selected.imageset/color_pink_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_pink_selected.imageset/color_pink_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_pink_selected.imageset/color_pink_selected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_yellow_deselected.imageset/color_yellow_deselected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_yellow_deselected.imageset/color_yellow_deselected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_yellow_deselected.imageset/color_yellow_deselected@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_yellow_selected.imageset/color_yellow_selected.png
  Projects/DesignSystem/Resources/Image.xcassets/color_yellow_selected.imageset/color_yellow_selected@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/color_yellow_selected.imageset/color_yellow_selected@3x.png
  Projects/DesignSystem/Sources/Component/ConditionalTextField/ConditionalTextField.swift
  Projects/DesignSystem/Sources/Component/UIButton/ImageSelectionButton.swift
  Projects/DesignSystem/Sources/Component/UIButton/LifePoopButton.swift
  Projects/DesignSystem/Sources/Protocol/IndexSelectable.swift
  Projects/DesignSystemReactive/Sources/ConditionalTextField+Reactive.swift
  Projects/EntityUIMapper/Sources/BirthdayTextInput+descriptionText.swift
  Projects/EntityUIMapper/Sources/NicknameInput+descriptionText.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Project.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/SignupScene/SignupViewController.swift
  Projects/Features/FeatureSetting/FeatureSettingCoordinator/Sources/DefaultSettingCoordinator.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/Profile/ProfileEditViewController.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/Profile/ProfileViewModel.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/ProfileEdit/ProfileCharacterEditViewController.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/ProfileEdit/ProfileCharacterEditViewModel.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/ProfileEdit/ProfileEditViewController.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/ProfileEdit/ProfileEditViewModel.swift
  Projects/Features/FeatureSetting/FeatureSettingUseCase/Sources/MockProfileEditUseCase.swift
  Projects/Utils/Sources/Enum/ToastMessage.swift
Labels: 💡feat, Mase

#69 리포트 화면 UI와 UseCase 로직 구현
  Projects/App/Sources/SceneDelegate.swift
  Projects/Core/CoreEntity/Sources/ReportPeriod.swift
  Projects/Core/CoreEntity/Sources/StoolReport.swift
  Projects/DesignSystem/Sources/Component/UISegmentControl/LifePoopSegmentControl.swift
  Projects/DesignSystem/Sources/Component/UIView/StoolCountBarView.swift
  Projects/DesignSystem/Sources/Extension/UILabel+attributedString.swift
  Projects/DesignSystem/Sources/Extension/UILabel+startCountingAnimation.swift
  Projects/EntityUIMapper/Sources/StoolColor+color.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Project.swift
  Projects/Features/FeatureReport/FeatureReportDIContainer/Sources/FeatureReportDIContainer.swift
  Projects/Features/FeatureReport/FeatureReportDIContainer/Sources/ReportDIContainer.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Project.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportView/ReportTotalBowelMovementsView.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportView/ReportTotalColorView.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportView/ReportTotalSatisfactionView.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportView/ReportTotalShapeView.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportView/ReportTotalSizeView.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportView/ReportTotalStoolCountView.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportViewController.swift
  Projects/Features/FeatureReport/FeatureReportPresentation/Sources/ReportViewModel.swift
  Projects/Features/FeatureReport/FeatureReportRepository/Sources/FeatureReportRepository.swift
  Projects/Features/FeatureReport/FeatureReportRepository/Sources/MockReportRepository.swift
  Projects/Features/FeatureReport/FeatureReportUseCase/Sources/DefaultReportUseCase.swift
  Projects/Features/FeatureReport/FeatureReportUseCase/Sources/FeatureReportUseCase.swift
  Projects/Features/FeatureReport/FeatureReportUseCase/Sources/Interface/ReportUseCase.swift
  Projects/Features/FeatureReport/FeatureReportUseCase/Sources/RepositoryInterface/ReportRepository.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewController.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewModel.swift
Labels: 💡feat, Mase

#72 프로필 캐릭터를 수정해도 '수정 완료' 버튼이 활성화되지 않는 문제 해결
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/ProfileEdit/ProfileEditViewModel.swift
Labels: 🛠fix, Mase

#75 변 기록하기 화면 디자인 수정
  Projects/Core/CoreEntity/Sources/ColoredStoolShape.swift
  Projects/DesignSystem/Resources/Image.xcassets/shape_good_selected_default.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/shape_good_selected_default.imageset/shape_good_selected_default.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_good_selected_default.imageset/shape_good_selected_default@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_good_selected_default.imageset/shape_good_selected_default@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_hard_selected_default.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/shape_hard_selected_default.imageset/shape_hard_selected_default.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_hard_selected_default.imageset/shape_hard_selected_default@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_hard_selected_default.imageset/shape_hard_selected_default@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_soft_selected_default.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/shape_soft_selected_default.imageset/shape_soft_selected_default.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_soft_selected_default.imageset/shape_soft_selected_default@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/shape_soft_selected_default.imageset/shape_soft_selected_default@3x.png
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/DetailSelection/ShapeSelectionCell.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewController.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewModel.swift
Labels: 💡feat, ✂️refactor, Jed

#73 친구 초대 코드 관련 화면 구현
  Projects/App/Resources/LaunchScreen.storyboard
  Projects/App/Sources/AppCoordinator/DefaultAppCoordinator.swift
  Projects/Core/CoreEntity/Sources/InvitationType.swift
  Projects/DesignSystem/Resources/Image.xcassets/icon_invitation_code.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/icon_invitation_code.imageset/icon_invitation_code.png
  Projects/DesignSystem/Resources/Image.xcassets/icon_invitation_code.imageset/icon_invitation_code@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/icon_invitation_code.imageset/icon_invitation_code@3x.png
  Projects/DesignSystem/Sources/Component/UILabel/ToastLabel.swift
  Projects/DesignSystem/Sources/Component/UIView/LifePoopAlertView.swift
  Projects/DesignSystem/Sources/Component/UIView/LifePoopTextFieldAlertView.swift
  Projects/DesignSystem/Sources/Enum/LifePoopAlertViewType.swift
  Projects/DesignSystem/Sources/Extension/NSMutableAttributedString+appendSpacing.swift
  Projects/DesignSystem/Sources/Extension/UITextField+insertLeftPadding.swift
  Projects/DesignSystemReactive/Sources/LifePoopTextFieldAlertView+Reactive.swift
  Projects/Features/FeatureFriendList/FeatureFriendListCoordinator/Sources/DefaultFriendListCoordinator.swift
  Projects/Features/FeatureFriendList/FeatureFriendListCoordinatorInterface/Sources/FriendListCoordinateAction.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendInvitationViewController/FriendInvitationViewController.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendInvitationViewController/FriendInvitationViewModel.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendInvitationViewController/InvitationCollectoinViewCell/InvitationCollectionViewCell.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendListViewController/FriendListViewController.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/FriendListViewController/FriendListViewModel.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/InvitationCodeViewController/InvitationCodeViewController.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/InvitationCodeViewController/InvitationCodeViewModel.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Project.swift
Labels: 💡feat, ✂️refactor, Jed

#79 초대코드 공유 및 입력 화면 좀 더 자연스럽게 닫히도록 수정
  Projects/DesignSystem/Sources/Component/UIView/LifePoopAlertView.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/InvitationCodeViewController/InvitationCodeViewController.swift
  Projects/Features/FeatureFriendList/FeatureFriendListPresentation/Sources/InvitationCodeViewController/InvitationCodeViewModel.swift
Labels: 💡feat, ✂️refactor, Jed

#81 Home 화면 6/21 회의 후 추가로 변경된 사항 반영, 변 기록 로직 및 친구 여부에 따른 UI 구현
  Projects/App/Sources/SceneDelegate.swift
  Projects/Core/CoreEntity/Sources/StoolLogEntity.swift
  Projects/DesignSystem/Resources/Image.xcassets/expand_right.imageset/expand_right.png
  Projects/DesignSystem/Resources/Image.xcassets/expand_right.imageset/expand_right@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/expand_right.imageset/expand_right@3x.png
  Projects/DesignSystem/Resources/Image.xcassets/expand_right_large.imageset/Contents.json
  Projects/DesignSystem/Resources/Image.xcassets/expand_right_large.imageset/expand_right_large.png
  Projects/DesignSystem/Resources/Image.xcassets/expand_right_large.imageset/expand_right_large@2x.png
  Projects/DesignSystem/Resources/Image.xcassets/expand_right_large.imageset/expand_right_large@3x.png
  Projects/DesignSystem/Sources/Component/UIView/CheeringButtonView.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinator/Project.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinator/Sources/DefaultHomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Project.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Sources/HomeCoordinator.swift
  Projects/Features/FeatureHome/FeatureHomeCoordinatorInterface/Sources/HomeCoordinatorAction.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewController.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/HomeViewModel.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/InviteFriendView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogCollectionViewCell.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogCollectionViewDiffableDataSource.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogCollectionViewSectionLayout.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogHeaderView.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogHeaderViewModel.swift
  Projects/Features/FeatureHome/FeatureHomePresentation/Sources/StoolLogCollectionView/StoolLogItem.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinator/Project.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogCoordinator/Sources/DefaultStoolLogCoordinator.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewController.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogPresentation/Sources/Views/SatisfactionDetail/SatisfactionDetailViewModel.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogRepository/Sources/FeatureStoolLogRepository.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogRepository/Sources/MockStoolLogRepository.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogUseCase/Sources/DefaultStoolLogUseCase.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogUseCase/Sources/FeatureStoolLogUseCase.swift
  Projects/Features/FeatureStoolLog/FeatureStoolLogUseCase/Sources/RepositoryInterface/StoolLogRepository.swift
  Projects/Utils/Sources/Enum/ToastMessage.swift
  Projects/Utils/Sources/Extension/Date+localizedString.swift
Labels: 💡feat, ✂️refactor, Mase

#83 TestFlight 1차 빌드(23062301) 배포 전 리팩토링
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Projects/Features/FeatureLogin/FeatureLoginCoordinator/Sources/DefaultLoginCoordinator.swift
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/SignupScene/SignupViewController.swift
  Projects/Features/FeatureSetting/FeatureSettingUseCase/Sources/MockProfileEditUseCase.swift
Labels: 💡feat, ✂️refactor, Mase, Jed

#87 String Literal 관리 및 Localizing을 위한 Strings 파일 설정
  Projects/App/Resources/en.lproj/InfoPlist.strings
  Projects/App/Resources/ko.lproj/InfoPlist.strings
  Projects/App/Resources/ko.lproj/Localizable.strings
Labels: 💡feat, Mase

#90 프로필 설정 화면에서 존재하는 UI와 로직의 문제 해결
  Projects/Features/FeatureLogin/FeatureLoginPresentation/Sources/SignupScene/SignupViewModel.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/ProfileEdit/ProfileCharacterEditViewController.swift
  Projects/Features/FeatureSetting/FeatureSettingPresentation/Sources/ProfileEdit/ProfileEditViewModel.swift
  Projects/Shared/SharedUseCase/Sources/DefaultNicknameUseCase.swift
Labels: 🛠fix, Mase

#93 Project 파일의 의존성 선언 순서 정렬을 위한 git hook 설정
  Projects/Features/FeatureLogin/FeatureLoginUseCase/Project.swift
  Projects/Features/FeatureReport/FeatureReportCoordinator/Project.swift
  common-hooks/pre-commit
Labels: Mase, ⚙️chore
